@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #001A4B;
  --accent: #00D1B2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-ely-blue: #001A4B;
  --color-ely-mint: #00D1B2;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.admin-card {
  @apply bg-white rounded-xl shadow-sm border border-slate-200 p-6;
}